:root {
  --calculator-font-sans-serif: Arial, Helvetica, sans-serif;
  --calculator-font-serif: 'Times New Roman', Times, serif;

  --calculator-color-white: #ffffff;
  --calculator-color-black: #000000;
  --calculator-color-green: #3d3935;
  --calculator-color-light-red: #b51119;
  --calculator-color-dark-red: #A6192E;
  --calculator-color-gray-1: #e9eff1;
  --calculator-color-gray-2: #dddddd;
  --calculator-color-gray-3: #dee8ed;
  --calculator-color-gray-4: #cccccc;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--calculator-color-dark-red);
}

#container-1 {
  background-color: var(--calculator-color-dark-red);

  width: 100vw;

  padding-left: 3.5em;
  padding-right: 3.5em;
  padding-bottom: 1em;

  box-sizing: border-box;
}

#container-2 {
  background-color: var(--calculator-color-green);
  
  width: 100%;
  height: 100%;

  padding-top: 1em;
  padding-bottom: 2.5em;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

#container-3 {
  background-color: var(--calculator-color-white);

  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

#container-4 {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  padding-top: 3.5em;
  padding-left: 1.5em;
  padding-bottom: 2em;

  box-sizing: border-box;
}

#container-5 {
  background-color: var(--calculator-color-gray-1);

  width: 75%;
  height: 100%;

  padding-top: 1.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-bottom: 1em;

  border: solid 0.125em var(--calculator-color-gray-3);
  border-radius: 0.125em;

  box-sizing: border-box;
}

#form-activities-container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  
  border: solid 0.125em var(--calculator-color-gray-4);
  border-left: 0;
  border-top: 0;

  margin-bottom: 1.5em;
  
  height: 206px;
  overflow-y: auto;
}

input[type=number] {
  width: 2.8em;
  height: 2em;
}

.heading-1 {
  font-family: var(--calculator-font-sans-serif);

  margin-bottom: 1.5em;
}

.heading-2 {
  font-family: var(--calculator-font-serif);

  color: var(--calculator-color-light-red);

  margin-bottom: 1.5em;
}

.heading-3 {
  margin-bottom: 1.5em;
}

.form-heading {
  background-color: var(--calculator-color-gray-2);

  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;

  border: solid 0.125em var(--calculator-color-gray-4);
  border-right: 0;
  border-bottom: 0;
}

.form-activity-percent-filled,
.form-activity {
  padding-left: 0.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;

  border: solid 0.125em var(--calculator-color-gray-4);
  border-right: 0;
  border-bottom: 0;
}

.form-activity-weight,
.form-activity-grade {
  padding-left: 0.5em;
  padding-top: 0.64em;
  padding-bottom: 0.1em;

  border: solid 0.125em var(--calculator-color-gray-4);
  border-right: 0;
  border-bottom: 0;
}

.form-activity-percent-empty {
  padding: 1.33em;

  border: solid 0.125em var(--calculator-color-gray-4);
  border-right: 0;
  border-bottom: 0;
}

#btn-add-activity {
  margin-bottom: 1em;
}

#btn-add-activity {
  color: var(--calculator-color-white);

  background-color: var(--calculator-color-light-red);

  padding-top: 0.65em;
  padding-bottom: 0.65em;

  padding-left: 0.5em;
  padding-right: 0.5em;

  border: none;
  border-radius: 0.25em;

  cursor: pointer;
}

#btn-weighted {
  color: var(--calculator-color-white);

  background-color: var(--calculator-color-light-red);

  padding-top: 0.65em;
  padding-bottom: 0.65em;

  padding-left: 0.5em;
  padding-right: 0.5em;

  border: none;
  border-radius: 0.25em;

  cursor: pointer;
}

#btn-mean {
  color: var(--calculator-color-white);

  background-color: var(--calculator-color-light-red);

  padding-top: 0.65em;
  padding-bottom: 0.65em;

  padding-left: 1.5em;
  padding-right: 1.5em;

  border: none;
  border-radius: 0.25em;

  cursor: pointer;
}

.btn-container {
  float: right;
}

.result-container {
  font-family: var(--calculator-font-serif);

  color: var(--calculator-color-light-red);

  margin-bottom: 1.7em;
}

#result {
  font-weight: normal;
}

@media (min-width: 551px) and (max-width: 900px) {
  #form-activities-container {
    grid-template-columns: repeat(5, 40%);
  }
}

@media (min-width: 351px) and (max-width: 550px) {
  #form-activities-container {
    grid-template-columns: repeat(5, 100%);
  }
}

@media (min-width: 0px) and (max-width: 350px) {
  #form-activities-container {
    grid-template-columns: repeat(5, 200%);
  }
}